<launch>
 
<arg name="dalsa_camera_frequence_throttle"      default="1"/>


<node pkg="rosbag" type="record" name="rosbag_record_node"
       args="record -o /media/robot/ssd-2nd/rosbag/imu_recording
/MTI_imu/data
/MTI_imu/data_raw
/MTI_imu/imu_data_str
/MTI_imu/mag_raw
/cmd_vel
/diagnostics
/diagnostics_agg
/diagnostics_toplevel_state
/hri_cmd_vel
/icp_odom
/imu_and_wheel_odom
/imu_filter/parameter_descriptions
/imu_filter/parameter_updates
/imu_filter_node_magwick/parameter_descriptions
/imu_filter_node_magwick/parameter_updates
/initialpose
/joint_states
/joy_teleop/cmd_vel
/left_drive/status/battery_current
/left_drive/status/battery_voltage
/left_drive/status/fault
/left_drive/status/heatsink_temperature
/left_drive/status/motor_temperature
/left_drive/status/speed
/left_drive/velocity
/madgwick_filter/bias
/mcu/enable_motors
/mcu/status
/rc_teleop/cmd_vel
/right_drive/status/battery_current
/right_drive/status/battery_voltage
/right_drive/status/fault
/right_drive/status/heatsink_temperature
/right_drive/status/motor_temperature
/right_drive/status/speed
/right_drive/velocity
/safety/emergency_stop
/tf
/tf_static
/velocity
/warthog_velocity_controller/cmd_vel
/warthog_velocity_controller/odom
/warthog_velocity_controller/parameter_descriptions
/warthog_velocity_controller/parameter_updates "
/>

</launch>


