<launch>
	<node pkg="xsens_driver" type="mtnode.py" name="xsens_driver" output="screen" >
		<remap from="/imu/data" to="/MTI_imu/data_raw"/>
		<remap from="/imu/mag" to="/MTI_imu/mag_raw"/>
		<remap from="/imu_data_str" to="/MTI_imu/imu_data_str"/>
		<param name="device" value="/dev/ttyS4"/>
		<param name="baudrate" value="115200"/>
		<param name="timeout" value="0.002"/>
		<param name="initial_wait" value="0.1"/>
		<param name="frame_id" value="/mti10"/>
		<param name="frame_local" value="ENU"/>
		<param name="no_rotation_duration" value="0"/>
		<rosparam param="angular_velocity_covariance_diagonal" subst_value="True">[0.0004, 0.0004, 0.0004]</rosparam>
		<rosparam param="linear_acceleration_covariance_diagonal" subst_value="True">[0.0004, 0.0004, 0.0004]</rosparam>
		<rosparam param="orientation_covariance_diagonal" subst_value="True">[0.01745, 0.01745, 0.15708]</rosparam>
	</node>

	<node name="imu_filter_node_magwick" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen" >
		<remap from="imu/data_raw" to="/MTI_imu/data_raw" />
		<remap from="imu/mag" to="/MTI_imu/mag" />
		<remap from="imu/data" to="/MTI_imu/data" />
		<param name="gain" value="0.01"/>
		<param name="use_mag" value="false"/>
		<param name="fixed_frame" value="odom" />
		<param name="publish_tf" value="false" />
	</node>
</launch>
