<launch>
 

<node pkg="rosbag" type="record" name="rosbag_record_node"
       args="record
/MTI_imu/data
/MTI_imu/data_raw
/MTI_imu/imu_data_str
/MTI_imu/mag_raw
/clicked_point
/cloud_node/parameter_descriptions
/cloud_node/parameter_updates
/cmd_lights
/cmd_vel
/diagnostics
/diagnostics_agg
/diagnostics_toplevel_state
/icp_odom
/imu/data
/imu/data_raw
/imu/mag
/imu_and_wheel_odom
/nmea_sentence_back
/nmea_sentence_front
/imu_filter/parameter_descriptions
/imu_filter/parameter_updates
/imu_filter_node_magwick/parameter_descriptions
/imu_filter_node_magwick/parameter_updates
/initialpose
/joint_states
/joy_teleop/cmd_vel
/left_drive/status/battery_current
/left_drive/status/battery_voltage
/left_drive/status/fault
/left_drive/status/heatsink_temperature
/left_drive/status/motor_temperature
/left_drive/status/speed
/left_drive/velocity
/map
/mcu/cmd_lights
/mcu/enable_motors
/mcu/status
/move_base_simple/goal
/rc_teleop/cmd_vel
/right_drive/status/battery_current
/right_drive/status/battery_voltage
/right_drive/status/fault
/right_drive/status/heatsink_temperature
/right_drive/status/motor_temperature
/right_drive/status/speed
/right_drive/velocity
/rosout
/rosout_agg
/rslidar32_points
/rslidar_node/parameter_descriptions
/rslidar_node/parameter_updates
/rslidar_packets_difop
/tf
/tf_static
/time_reference
/twist_marker_server/cmd_vel
/twist_marker_server/feedback
/twist_marker_server/update
/twist_marker_server/update_full
/velocity
/warthog_velocity_controller/cmd_vel
/warthog_velocity_controller/odom
/warthog_velocity_controller/parameter_descriptions
/warthog_velocity_controller/parameter_updates
/wifi_link_status
/gps/fix_back
/gps/fix_front
/gps/time_reference_back
/gps/time_reference_front
/gps/vel_back
/gps/vel_front"
       />

</launch>

