<launch>
 

<node pkg="rosbag" type="record" name="rosbag_record_node"
       args="record
       /MTI_imu/data /MTI_imu/data_raw /MTI_imu/mag_raw /cloud_node/parameter_descriptions /cloud_node/parameter_updates
       /cmd_vel /imu/data /imu/data_raw /imu/mag /imu_data_str /imu_filter/parameter_descriptions /imu_filter/parameter_updates
       /initialpose /joint_states /joy_teleop/cmd_vel 
       /laser_throttler/points
       /left_drive/status/battery_current  /left_drive/status/battery_voltage /left_drive/status/fault /left_drive/status/heatsink_temperature /left_drive/status/motor_temperature /left_drive/status/speed
       /left_drive/velocity
       /mcu/cmd_lights
       /mcu/enable_motors
       /mcu/status
       /rc_teleop/cmd_vel
       /right_drive/status/battery_current /right_drive/status/battery_voltage /right_drive/status/fault /right_drive/status/heatsink_temperature /right_drive/status/motor_temperature /right_drive/status/speed
       /right_drive/velocity
       /rslidar32_points /rslidar_node/parameter_descriptions /rslidar_node/parameter_updates
       /tf
       /tf_static
       /time_reference
       /velocity
       /warthog_velocity_controller/cmd_vel /warthog_velocity_controller/odom /warthog_velocity_controller/parameter_descriptions /warthog_velocity_controller/parameter_updates"
       />

</launch>

