<launch>
	<include file="$(find warthog_mapping)/launch/rslidar32.launch"/>
	<include file="$(find warthog_mapping)/launch/rslidar16_right.launch"/>
	<include file="$(find warthog_mapping)/launch/rslidar16_left.launch"/>
	<include file="$(find warthog_mapping)/launch/mti10.launch"/>
	<include file="$(find norlab_imu_tools)/launch/warthog_imu_and_wheel_odom.launch"/>
	<include file="$(find warthog_mapping)/launch/reachrs_front.launch"/>
	<include file="$(find warthog_mapping)/launch/reachrs_back.launch"/>
	<include file="$(find dalsa_genie_nano_c1920)/launch/dalsa_genie_nano_c1920.launch"/>
	<!-- include file="$(find power_consumption_node_ros)/launch/power_logger_joy.launch"/ -->
</launch>
